.aboutUsPage {
    overflow: auto;
    max-Height: 100vh;
}

#mainTitle {
    font-family: "Calibri Light";
    font-size: 50px;
    text-align: center;
}

#smallTitle {
    font-family: Calibri;
    font-size: 25px;
    text-align: left;
}

#version {
    font-family: Calibri;
    font-size: 16px;
    text-align: left;
}

p {
    font-family: Calibri;
    text-align: left;
    margin-left: 45vh;
    margin-right: 200px;
}

.dark-mode {
    background-color: black;
}

.dark-mode h1 {
    color:white;
}