ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

li i{
    display: block;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    width: 30%;
}

li i:hover {
    opacity: 0.7;
}

#darkMode{
    float: right;
    margin-right: 2%;
}

#bar {
    display: none;
}

@media screen and (max-width: 600px) {
    li i {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
    #bar{
        float: left;
        display: block;
    }
}
