.search-page {
    display: grid;
    height: 100vh;
    grid-template-rows: max-content;
}

.table-div {
    overflow: scroll;
    height: 100%;
}

.pagination {
    margin-left: auto;
    margin-right: 0;
    padding: 5px;
}

.dark-mode {
    background-color: black;
}


.dark-mode-header{
    background-color:black;
}
