.search-page {
    display: flex;
    height: calc(100vh - 44px);
    flex-direction: column;
}

.table-div {
    overflow: scroll;
    flex: 1;
}

.pagination {
    margin-left: auto;
    margin-right: 0;
    padding: 5px;
    bottom: 0;
}

.dark-mode {
    background-color: black;
}


.dark-mode-header{
    background-color:black;
}
