.selectColButton {
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 50%;
    margin-right: 2%;
    float: right;
    z-index: 10;
}

.card {
    width: 10rem;
    padding-left: 10px;
    padding-bottom:10px;
    position: fixed;
    right: 16px;
    top: 120px;
    z-index: 1000;
}

#card-title {
    color: grey;
    padding-top: 8px;
}

@media (max-height: 35rem) {
   .card {
       height: 15rem;
       overflow: auto;
   }
}

@media (max-width: 760px) {
    .card {
        top: 90px;
    }
}

@media (max-height: 15rem) {
    .card {
        height: 7rem;
        overflow: auto;
    }
}

.dark-mode {
    background-color: black;
}

#dark-mode-title {
    color: white;
    padding-top: 8px;
}
