.selectColButton {
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 50%;
    margin-right: 2%;
    float: right;
    z-index: 10;
}

.card {
    width: 10rem;
    display: none;
    padding-left: 10px;
    padding-bottom:10px;
    position: fixed;
    top: 90px;
    right: 16px;
}

#language-options {
    z-index: 1000;
}

@media (max-height: 35rem) {
   .card {
       height: 15rem;
       overflow: auto;
   }
}

@media (max-height: 15rem) {
    .card {
        height: 7rem;
        overflow: auto;
    }
}
