ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

li i {
  display: block;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  width: 30%;
  font-style: normal;
}

li:hover {
  opacity: 0.7;
  cursor: pointer;
}

.headerBarText {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}

#setting {
  float: right;
  margin-right: 2%;
  cursor: pointer;
}

.settingCard {
  position: fixed;
  right: 10px;
  top: 40px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10%;
}

#bar {
  display: none;
}

.dark-mode-Headerbar {
  background-color: black;
}

.dark-mode-icon {
  color: white;
}

.setting-item {
  display: inline-flex;
  align-items: center;
}

.setting-nav-item {
  width: 100%;
  color: black;
  font-style: normal;
}

.setting-nav-item:hover {
  opacity: 0.7;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

#darkModeIcon:hover {
  cursor: pointer;
}

#login {
  display: inline-flex;
}

.dark-mode-span {
  color: white;
}

.dark-mode-span-login {
  color: white;
}

.dark-mode-settingCard {
  background-color: black;
  border-color: grey;
}

@media screen and (max-width: 600px) {
  li i {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    right: 20px i !important;
  }
  #bar {
    float: left;
    display: block;
  }
}
