ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

li i {
  display: block;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  width: 30%;
}

li i:hover {
  opacity: 0.7;
}

.headerBarText {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}

#setting {
  float: right;
  margin-right: 2%;
  cursor: pointer;
}

.settingCard {
  width: 7rem;
  position: fixed;
  right: 10px;
  top: 40px;
  z-index: 1000;
  flex-direction: column;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10%;
}

#bar {
  display: none;
}

.dark-mode-Headerbar {
  background-color: black;
}

.dark-mode-icon {
  color: white;
}

#darkModeIcon {
  display: inline-flex;
  right: 20px;
}

#login {
  display: inline-flex;
}

.dark-mode-span {
  color: white;
}

.dark-mode-settingCard {
  background-color: black;
  border-color: grey;
}

