* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: normal;
}

#title-txt {
    font-size: 7vw;
    text-align: center;
    font-weight: bold;
}

.welcomePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.btn {
    border-radius: 25px;
    max-width: 100%;
}

/* Responsive design for title and button */
@media screen and (min-width: 760px) {

    #title-txt {
        font-size: 4.5vw;
    }

    .btn {
        font-size: 1.25rem;
        padding: .5rem 1rem;
    }
}


.btn-dark-mode{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

.btn-dark-mode:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}


