.MUIDataTableFilterList-root-30 {
  width: auto;
}

.MuiPaper-root MUIDataTable-paper-2 undefined MuiPaper-elevation4 MuiPaper-rounded {
  overflow: auto;
  height: auto;
  width: auto;
}

th:nth-child(1) {
  position: sticky;
  left: 0;
  width: 23%;
  z-index: 3;
  background-color:white;
}

td:nth-child(2) {
  position: sticky;
  left: 0;
  width: 23%;
  z-index: 1;
  background-color:white;
}

th:nth-child(2) {
  position: sticky;
  left: 23%;
  width: 30%;
  z-index: 3;
  background-color:white;
}

td:nth-child(4) {
  position: sticky;
  left: 23%;
  width: 30%;
  z-index: 1;
  background-color:white;
}

th:nth-child(3), th:nth-child(4), th:nth-child(5) {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

th:first-child, th:nth-child(2) {
  z-index: 3;
}

tr:nth-child(2n+1) {
  background: #cceeff !important;
}
