
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Table {
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  width: 100%;
}

.DataTable {
  position: relative;
  max-width: 100vw;
}

.Cell {
  border: 1px solid #f4f6f8;
  padding: 4px;
  text-align: left;
  vertical-align: top;
}

.Cell-fixed {
  position: absolute;
  top: auto;
  left: 0;
  width: 145px;
  white-space: unset;
  text-align: left;
  backface-visibility: hidden;
  background: #fff;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.ScrollContainer {
  overflow-x: auto;
  margin-left: 145px;
}



